* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#sidebar {
    position: absolute;
    width: 20vw;
    background-color: rgba(236, 239, 245, 0.9);
    height: 100%;
    padding: 1em;
    -webkit-transition: -webkit-transform 1s ease;
    -moz-transition: -moz-transform 1s ease;
    -o-transition: -o-transform 1s ease;
    -ms-transition: -ms-transform 1s ease;
    transition: transform 1s ease;
}

.hidden {
    transform: translate(-20vw, 0) scaleX(0);
    overflow: hidden;
    pointer-events: none;
}

.shown {
    transform: translate(0, 0) scaleX(1);
}

.button {
    border: solid 1px black;
    border-radius: 1em;
}

.button {
    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
    padding: 5px;
    text-align: center;
}

.button:active {
    color:black;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.website-title {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}

.website-subtitle {
    font-size: 1.2em;
    text-align: center;
}

.cog-panels {
    display: grid;
    grid-template-columns: auto 70vw;
    margin: .5em;
}

.cog-list {
    margin: .5em;
}

.cog-infographic {
    margin: .5em;
}

.cog-location{ 
    display: grid;
    grid-template-columns: auto auto;
}

#cog-bonuses div {
    font-size: .9em;
}

.directional-title {
    font-size: .75em;
    border-bottom: solid 1px black;
    justify-self: center;
    width: 60%;
}

#cog-bonuses div {
    text-align: center;
}

#cog-image {
    position: relative;
}

#cog-image img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    vertical-align: middle;
    margin: auto;
}

.cog-list-group {
    display: grid;
    grid-template-columns: auto 15vw 6vw;
    padding: 10px 5px;
}

div.cog-list > div:nth-of-type(odd) {
    background:rgb(236, 239, 245)
}

div.cog-list > div:nth-of-type(even) {
    background:rgb(251, 252, 255)
}